<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Monogo_Task::logs" title="Weather Logs" module="Monogo_Task" sortOrder="10" parent="Magento_Catalog::catalog_categories" resource="Magento_Catalog::categories" action="monogo_task/weather/index"/>
    </menu>
</config>
