<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="monogo_weather" translate="label" sortOrder="900">
            <label>Weather API</label>
        </tab>
        <section id="monogo_weather" translate="label" type="text" sortOrder="800" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Weather API</label>
            <tab>monogo_weather</tab>
            <resource>Monogo_Task::monogo_weather</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Cart</label>
                <field id="api_link" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>API link</label>
                </field>
                <field id="cron_schedule" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Cron Expr</label>
                </field>
            </group>
        </section>
    </system>
</config>
